.root {
  height: 100vh;
}

.titleBar {
  background-color: #105368;
  color: white;
  font-style: normal;
  height: 8vh;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.logo {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  height: 200px;
  width: 15em;
  text-align: center;
}

.center h1 {
  text-align: left;
}

.login-button {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.register-button {
  color: #105368;
  font-size: 12px;
  text-align: center;
}

.register-button Button {
  background-color: #105368;
  font-size: small;
}

.purple-bg {
  background-color: mediumpurple;
}

.yellow-bg {
  background-color: palegoldenrod;
}
